@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a1120;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-height: 1025px) {
  .admin-testimonial-modal {
    height: calc(100dvh - 200px);
  }
}
@media screen and (max-height: 520px) {
  .admin-testimonial-modal {
    height: calc(100dvh);
  }
}
